<h2>New Talk for <%= link_to @event.name, edit_event_path(@event) %></h2>

<%= error_messages_for :talk %>

<% form_for([@event, @talk]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
    or
    <%= link_to 'Cancel', event_talks_path(@event) %>
  </p>
<% end %>
